        /* 分隔線 */
        .border-b {
            border-bottom: 1px solid rgb(74 68 62);
        }

        /* 主題色 */
        .theme-color {
            background-color: #d4a473;
        }

        /* 主題色-文字 */
        .theme-text {
            color: #d4a473;
        }

        /* 進度條-高度 */
        .progress {
            height: 8px
        }

        /* 背景色 */
        .bg-color {
            background-color: rgb(38 35 25);
        }

        /* 次要背景色 */
        .box-bg-color {
            background-color: #332f2b;
        }

        /* 外框 */
        .box-border {
            border: 1px solid rgb(74 68 62);
        }

        /* 次要字體色 */
        .text-secondary-color {
            color: rgb(168 162 158);
        }

        /* 輸入框預設文字 */
        .input-bg::placeholder {
            color: rgb(168 162 158);
        }

        /* 輸入框樣式 */
        .input-bg,
        .input-bg:hover,
        .input-bg:focus {
            background-color: rgb(42 38 34);
            color: #fff;
            border: 1px solid rgb(74 68 62);
            padding: 12px 16px;
        }

        /* 輸入框樣式-focus */
        .input-bg:focus {
            border: 1px solid #d4a473;
            box-shadow: none;
        }

        /* radio按鈕 一般狀態 */
        .btn.btn-outline-golden,
        .btn.btn-outline-golden:hover {
            /* padding: 12px 16px; */
            color: rgb(168 162 158);
            border: 1px solid rgb(74 68 62);
        }

        /* radio按鈕 hover變色 */
        .btn.btn-outline-golden:hover {
            background-color: rgb(255 255 255 / 0.05);
        }

        /* radio 被選中時（真正的 active） */
        .btn-check:checked+.btn-outline-golden {
            color: #fff;
            background-color: rgb(212 163 115 / 0.1);
            border-color: #d4a473;
        }

        /* 按鈕-defult */
        .btn-golden {
            background-color: #d4a473;
            border-color: #d4a473;
            color: black;
            /* 金色背景_配黑字 */
        }

        /* 按鈕-hover */
        .btn-golden:hover {
            background-color: #b88a5d;
            border-color: #b88a5d;
            color: black;
        }

        /* 按鈕-active */
        .btn.btn-golden:active {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
        }

        /* 完成icon的shadow */
        .icon-shadow {
            width: 80px;
            height: 80px;
            background-color: #d4a37354;
        }

        /* ===============協助頁面========================== */
        /* 大圖 */
        .bg-img {
            background-color: pink;
            width: 100%;
            /* height: 200px; */
            background-image: url("../img/bg-img.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            padding: 100px 20px;

        }

        /* 大圖遮罩 */
        .bg-img::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #3a2d20;
            opacity: 60%;
            z-index: -1;
        }

        /* 文字輸入框高度 */
        #inputMessage {
            height: 120px;
        }

        /* select 本體-取消原生箭頭 */
        .form-select {
            background-image: none;
        }

        /* 自訂箭頭 */
        .select-icon {
            position: absolute;
            right: 16px;
            top: 44px;
            pointer-events: none;
            color: #ffffff;
        }

        /* Q&A 默認不顯示 */
        .answer {
            display: none;
        }

        /* Q&A switch-按下打開 */
        #switch-1:checked~.answer,
        #switch-2:checked~.answer,
        #switch-3:checked~.answer,
        #switch-4:checked~.answer {
            display: block;
        }

        /* chevron-隱藏 */
        #switch-1+label .fa-chevron-up,
        #switch-2+label .fa-chevron-up,
        #switch-3+label .fa-chevron-up,
        #switch-4+label .fa-chevron-up,
        #switch-1:checked+label .fa-chevron-down,
        #switch-2:checked+label .fa-chevron-down,
        #switch-3:checked+label .fa-chevron-down,
        #switch-4:checked+label .fa-chevron-down {
            display: none;
        }

        /* chevron-顯示 */
        #switch-1:checked+label .fa-chevron-up,
        #switch-2:checked+label .fa-chevron-up,
        #switch-3:checked+label .fa-chevron-up,
        #switch-4:checked+label .fa-chevron-up {
            display: flex;
        }

        /* Q&A的hover效果 */
        .question:hover {
            background-color: #3D3A36;
        }