        /* 分隔線 */
        .border-b {
            border-bottom: 1px solid rgb(74 68 62);
        }

        /* 主題色 */
        .theme-color {
            background-color: #d4a473;
        }

        /* 主題色-文字 */
        .theme-text {
            color: #d4a473;
        }

        /* 進度條-高度 */
        .progress {
            height: 8px
        }

        /* 背景色 */
        .bg-color {
            background-color: rgb(38 35 25);
        }

        /* 次要背景色 */
        .box-bg-color {
            background-color: #332f2b;
        }

        /* 外框 */
        .box-border {
            border: 1px solid rgb(74 68 62);
        }

        /* 次要字體色 */
        .text-secondary-color {
            color: rgb(168 162 158);
        }

        /* 輸入框預設文字 */
        .input-bg::placeholder {
            color: rgb(168 162 158);
        }

        /* 輸入框樣式 */
        .input-bg,
        .input-bg:hover,
        .input-bg:focus {
            background-color: rgb(42 38 34);
            color: #fff;
            border: 1px solid rgb(74 68 62);
            padding: 12px 16px;
        }

        /* 輸入框樣式-focus */
        .input-bg:focus {
            border: 1px solid #d4a473;
            box-shadow: none;
        }

        /* radio按鈕 一般狀態 */
        .btn.btn-outline-golden,
        .btn.btn-outline-golden:hover {
            /* padding: 12px 16px; */
            color: rgb(168 162 158);
            border: 1px solid rgb(74 68 62);
        }

        /* radio按鈕 hover變色 */
        .btn.btn-outline-golden:hover {
            background-color: rgb(255 255 255 / 0.05);
        }

        /* radio 被選中時（真正的 active） */
        .btn-check:checked+.btn-outline-golden {
            color: #fff;
            background-color: rgb(212 163 115 / 0.1);
            border-color: #d4a473;
        }

        /* 按鈕-defult */
        .btn-golden {
            background-color: #d4a473;
            border-color: #d4a473;
            color: black;
            /* 金色背景_配黑字 */
        }

        /* 按鈕-hover */
        .btn-golden:hover {
            background-color: #b88a5d;
            border-color: #b88a5d;
            color: black;
        }
        /* 按鈕-active */
        .btn.btn-golden:active {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
        }

        /* 完成icon的shadow */
        .icon-shadow {
            width: 80px;
            height: 80px;
            background-color: #d4a37354;
        }