.btn-circle {
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
    /* 強制圓形 */
}

.card-color {
    background-color: #292524;
}

/* 當 card-event 被 hover 時，改變自身邊框與內部 icon-circle */
.card-event:hover {
    border-color: #d4a473 !important;
}

.card-event:hover .icon-circle {
    background-color: #d4a473 !important;
    color: #292524 !important;
    /* 這裡填你的背景深色 */
}

/* 為了讓變色平滑，加在原本類別或通用類別上 */
.card-event,
.icon-circle {
    transition: all 0.3s ease;
}

.detail-text {
    color: #d2cbcf;
}

/* 通用的放大過渡類別 */
.hover-zoom {
    transition: transform 0.5s ease;
}

/* 當容器被 hover，內部的 .hover-zoom 就放大 */
.hover-box:hover .hover-zoom {
    transform: scale(1.1);
}

/* 遮罩ㄉ效果 */
.hover-mask {
    transition: opacity 0.5s ease;
    /* 0.5秒淡出 */
    z-index: 1;
    /* 確保在圖片上方 */
}

/* 當外層容器被 Hover 時，遮罩透明度變 0 */
.hover-box:hover .hover-mask {
    opacity: 0;
}

main hr {
    border: 0.5px solid #6c696a;
}

/* ============== ⬇ 四張卡片的效果 ===================== */

.event-title {
    /* 預設白色 */
    color: #ffffff;
    /* 讓變色比較滑順 */
    transition: color 0.3s ease;
}

.card-hover {
    cursor: pointer;
}

/* 滑到整張卡片（圖片區也算）時，標題變金色 */
.card-hover:hover .event-title {
    color: #d4a473;
}



/* =================== ⬇ 側邊欄CSS專屬區 ===================== */

.ticket-card {
    /* 卡片底色 */
    background-color: #292524;
    /* 卡片字的顏色 */
    color: whitesmoke;
    /* 圓角角 */
    border-radius: 24px;
    cursor: pointer;
    /* 神奇ㄉ動畫 */
    transition: .2s;
}

.ticket-card .btn-select {
    /* 按鈕顏色 */
    background-color: #292524;
    /* 邊筐顏色 */
    border: 0.8px solid #6c696a;
    /* 字顏色 */
    color: white;
    font-weight: 600;

    padding-block: 13px;
    border-radius: 50px;
}

/* hover 效果（會動ㄛ） */
.ticket-card:hover {
    transform: translateY(-2px);
}

/* ✅ 被選中的卡片狀態 */
.ticket-card.active {
    box-shadow: 0 0 0 1px #d4a473;
}

/* ✅ 被選中時按鈕的效果 */
.ticket-card.active .btn-select {
    background-color: #d4a473;
    /* 字體bang黑 */
    color: #292524;
}

/* 只有非 active 卡片 hover 時的按鈕效果(這段ai寫的看不懂沒關係) */
.ticket-card:not(.active) .btn-select:hover {
    background-color: aliceblue;
    /* 變成黑字 */
    color: #292524 !important;
    border-color: white;
}