        /* 文字顏色 */
        .text-golden {
            color: #d4a473;
        }

        /* 背景色 */
        .bg-color {
            background-color: rgb(38 35 25);
        }

        /* 方塊背景色 */
        .box-bg-color {
            background-color: #332f2b;
        }

        /* 邊框-default */
        .box-border {
            border: 1px solid rgb(74 68 62);
        }

        /* 次要字體色 */
        .text-secondary-color {
            color: rgb(184 176 169);
        }

        /* 輸入框預設文字 */
        .input-bg::placeholder {
            color: rgb(168 162 158);
        }

        /* 輸入框樣式 */
        .input-bg,
        .input-bg:hover,
        .input-bg:focus {
            background-color: rgb(42 38 34);
            color: #fff;
            border: 1px solid rgb(74 68 62);
            padding: 12px 16px;
        }

        /* 輸入框樣式-focus */
        .input-bg:focus {
            border: 1px solid #d4a473;
            box-shadow: none;
        }

        /* 按鈕-defult */
        .btn-golden {
            background-color: #d4a473;
            border-color: #d4a473;
            color: black;
            /* 金色背景_配黑字 */
        }

        /* 按鈕-hover */
        .btn-golden:hover {
            background-color: #b88a5d;
            border-color: #b88a5d;
            color: black;
        }

        /* 按鈕-active */
        .btn.btn-golden:active {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
        }

        /* ===============頂部大圖========================== */

        /* 大圖 */
        .bg-img {
            background-color: pink;
            width: 100%;
            /* height: 200px; */
            background-image: url("../img/bg-img.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            padding: 100px 20px;

        }

        /* 大圖遮罩 */
        .bg-img::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #3a2d20;
            opacity: 60%;
            z-index: -1;
        }


        /* ===============   右側select    ====================== */

        /* 文字輸入框高度 */
        #inputMessage {
            height: 120px;
        }

        /* select 本體-取消原生箭頭 */
        .form-select {
            background-image: none;
        }

        /* 自訂箭頭 */
        .select-icon {
            position: absolute;
            right: 16px;
            top: 44px;
            pointer-events: none;
            color: #ffffff;
        }

        /* ============    二張卡片   ================== */

        /* 卡面邊框 */
        .card-border {
            border: 0.3px solid #765433;
        }

        /* 當 card-event 被 hover 時，改變自身邊框與內部 icon-circle */
        .card-event:hover {
            border-color: #d4a473 !important;
        }

        .card-event:hover .icon-circle {
            background-color: #d4a473 !important;
            color: #292524 !important;
        }

        /* 變色時間 */
        .card-event,
        .icon-circle {
            transition: all 0.3s ease;
        }

        /* icon-圓圈大小 */
        .icon-circle{
            width: 48px; 
            height: 48px;
        }
        /* ============     Q&A區域  ================= */

        /* 下拉內容默認不顯示 */
        .answer {
            display: none;
        }

        /* Q&A switch-按下打開 */
        #switch-1:checked~.answer,
        #switch-2:checked~.answer,
        #switch-3:checked~.answer,
        #switch-4:checked~.answer {
            display: block;
        }

        /* chevron-隱藏 */
        #switch-1+label .fa-chevron-up,
        #switch-2+label .fa-chevron-up,
        #switch-3+label .fa-chevron-up,
        #switch-4+label .fa-chevron-up,
        #switch-1:checked+label .fa-chevron-down,
        #switch-2:checked+label .fa-chevron-down,
        #switch-3:checked+label .fa-chevron-down,
        #switch-4:checked+label .fa-chevron-down {
            display: none;
        }

        /* chevron-顯示 */
        #switch-1:checked+label .fa-chevron-up,
        #switch-2:checked+label .fa-chevron-up,
        #switch-3:checked+label .fa-chevron-up,
        #switch-4:checked+label .fa-chevron-up {
            display: flex;
        }

        /* Q&A的hover效果 */
        .question:hover {
            background-color: #3D3A36;
        }

        /* 標籤背景色(淡金) */
        .bg-golden-light {
            background-color: rgba(212, 164, 115, 0.2) !important;
        }

        /* 標籤邊框 -金色*/
        .border-golden {
            border: 1px solid #d4a473;
        }